.eventTable  {
    width: 80%;
    margin: 0 auto;
}
.centeringBlock{
    text-align: center;
}
.eventExample {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid grey;
    margin-top: 3px;
}
.headerRow {
    border-color:grey;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    font-weight: bold;
}
.eventRow {
    margin-bottom: 1px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
}
.eventRow:hover {
    border-color: darkcyan;
}
.championshipEvent {
    background-color: rgb(201, 255, 218);
}